
@font-face
{
    src:url(NunitoSans-Regular.ttf);
    font-family: nunito;
}
/*
::-webkit-scrollbar-track
{
	background-color: rgba(0,0,0,0.0);
        
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
        border-radius: 10px;
}*/

body
{
    font-family: nunito;
    padding: 0;
    margin: 0;
}

.navbar-default
{
    background-color: rgba(255,255,255,0.9);
    color: #fff;
    border: none;
}

.navbar-header
{
    font-size: 18px;
    font-weight: 600;
}

.navbar-toggle
{
    border: 0;
    border-radius: 0;
}

ul li a
{
    font-size: 16px;
    font-weight: 600;
}

.second_navbar
{
    margin: 50px 0 0 0;
    background-color: #D3D3D3;
    width: 100%;
    padding: 0;
}

.nav_inner
{
    display: flex;
    list-style: none;
    padding: 10px 0;
}

.nav_inner li a
{
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav_inner li a:hover
{
    background-color: #a9a9a9;
}

label
{
    margin-top: 20px;
    margin-bottom: 8px;
}

.btn_submit
{
    margin: 20px 0;
    border: none;
    border-radius: 0;
    transition: 0.3s;
}

input, textarea
{
    border-color:rgba(136,136,136,0.7)  !important;
}

.chkbox
{
    width: 30px;
    height: 15px;
}

.related_heading, .pplsrch_hdng
{
    margin-top: 70px;
}

.related, .pplsrch
{
    width: 100%;
    height: 200px;
    background-color: #f2f2f2;
    overflow-y: scroll;
}

/*scrollbar in small boxes*/
.related::-webkit-scrollbar, .pplsrch::-webkit-scrollbar {
    width: 2px;  
    background:2px solid rgba(136,136,136,0);
}

.related::-webkit-scrollbar-thumb, .pplsrch::-webkit-scrollbar-thumb {
    background: rgba(136,136,136,0);
}

.related:hover::-webkit-scrollbar, .pplsrch:hover::-webkit-scrollbar
{
     width: 2px;  
    background:2px solid rgba(136,136,136,0.7); 
}

.related:hover::-webkit-scrollbar-thumb, .pplsrch:hover::-webkit-scrollbar-thumb
{
    background: rgb(136,136,136);
}
