<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Webpage</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet">
  <link href="./css/styles.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">
	</script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> 

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js">
	</script> -->

</head>

<body ng-controller="myCtrl">
	<div class="container-fluid">
	
		<header>
		<div class="row">
			<h1>HOME PAGE</h1>
		</div>
		</header>
		<div class="row">
		<div class="col-md-9">
		<div class="row">
			<div class="col-sm-8 col-md-6 col-md-offset-3">
				<div class="row">
				<div class="col-sm-12">
				<form>
					<textarea class="form-control" ng-model="textArea" id="comment" onkeyup="mathx()" rows="5">
					</textarea> 
					<input class="btn btn-danger" onclick="resetMath();" type="reset" value="Clear">
					</form>
					</div>
				</div>
				<div class="row">
				<div class="col-sm-12">
					<p id="eqn"> {{textArea}} </p>
				</div>
				</div>
			</div>
			</div>
			</div>
			<div id="sideLayout" class="col-md-3">
				<div class="row texter hide">
					<div  class="col-md-12">
							<div style="text-align:center;">
								<span id="preText" >
								</span>
								<textarea class="form-control " ng-model="preTexter" onkeyup="updateSample()" id="preTextHidden" rows="1"  >
									</textarea> 
								<button class="btn btn-primary btn-block" ng-click="func()">Add</button>
								</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 " style="text-align:center;">
						<select style="height:50px;" class="selectpicker" data-live-search="true" data-show-subtext="true" onchange="sendToBox()">
							<option style="text-align:center;" data-subtext="search" >
								<span>Search</span>
							</option>
							<option style="text-align:center;" data-subtext="limits" value="\lim_{lower}">
								$$\lim_{lower}$$
							</option>
							<option style="text-align:center;" data-subtext="limits" value="\lim_{lower}">
								$$\lim_{lower}$$
							</option>
							<option style="text-align:center;" data-subtext="integration" value="\int_{lower}^{upper}">
								$$\int_{lower}^{upper}$$
							</option>
							<option style="text-align:center;" data-subtext="summation" value="\sum_{lower}^{upper}">
								$$\sum_{lower}^{upper}$$
							</option>
							<option style="text-align:center;" data-subtext="integration" value="\int_{lower}^{upper}">
								$$\int_{lower}^{upper}$$
							</option>
							<option style="text-align:center;" data-subtext="summation" value="\sum_{lower}^{upper}">
								$$\sum_{lower}^{upper}$$
							</option>
						</select>
					</div>
				</div>
			</div>
			<script> ////// ANGULAR
			  angular.module('myApp', [])
				.controller('myCtrl', ['$scope', function($scope) {
				  $scope.textArea = ""
				  $scope.preTexter = "";
				  $scope.func = function(){
				  
					var syntax = $("#preTextHidden").val();
					$scope.preTexter = syntax;
					if(syntax !=""){
					$scope.textArea+= " "+$scope.preTexter;
					
					var text =$scope.textArea;
					document.getElementById('eqn').innerHTML="<h3>"+"$$"+text+"$$"+"</h3>";
					MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
					$scope.preTexter=" ";
					resetSelect();}
				  }
				  $scope.myFunc = function() {
				  $scope.preTexter = " ";
				  var check = $(".selectpicker").val();
				  $scope.preTexter = check;
				  
				  };
				}]);
			</script>
			<script>  /// NORMAL
			function resetSelect(){
			$(".selectpicker").prop('selectedIndex', 0);
			}
			function sendToBox(){
			$(".texter").removeClass('hide');
			var syntax = $(".selectpicker").val();
			$("#preText").text("$$ "+syntax+" $$ ");
			$("#preTextHidden").val(syntax);
			MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
			resetSelect();
			}
			function updateSample(){
				var sam = $("#preTextHidden").val();
				document.getElementById("preText").innerHTML ="<h4> $$" +sam + "$$</h4>";
				MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
			}
			function resetMath(){
			document.getElementById('eqn').innerHTML = " ";
			}
			</script>
			<script charset="utf-8" src="./js/script.js">
			</script>
			<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML" type="text/javascript">
			</script>
		</div>
	</div>
</body>
</html>
